CompileFlags:
  Add:
    - "-I/root/d3s/third_party/include"
    - "-I/root/d3s/include"
    - "-I/root/d3s/src/battle_net/include"
    - "-I/root/d3s/src/game_server/include"
    - "-I/root/d3s/src/rest_api/include"
    - "-I/root/d3s/src/utils/include"
    - "-I/root/d3s/src/d3core/include"
    - "-I/root/d3s/src/database_utils/include"
    - "-I/usr/include/c++/9"
    - "-I/usr/include/x86_64-linux-gnu/c++/9"
    - "-std=c++17"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes 
